/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background-color: #00704a; Change to your desired background color */
    color: #fff; /* Text color */
}

/* Logo Styles */
.logo img {
    width: 100px; /* Adjust the desired width for your logo */
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 400px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* Link color */
}

/* Add this CSS to move "Sign In" and "Join Now" to the right */
.header-container {
    display: flex;
    justify-content: space-between; /* This keeps your logo and navigation to the left */
    align-items: center;
}

/* Style for "Sign In" and "Join Now" buttons */
.sign-in, .join-now {
    margin-left: auto; /* Move these buttons to the rightmost end */
}

.sign-in a, .join-now a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50%; /* Make the buttons circular */
    background-color: #00704a; /* Button background color */
    display: inline-block; /* Display the buttons in a line */
}

/* Add this CSS to push "Sign In" and "Join Now" to the rightmost end */
.header-empty-space {
    flex-grow: 1;
}

/* CSS for the Separator Line */
.separator {
    border: 2px solid #ccc; /* Lighter gray border color and increased thickness */
    margin: 20px 0; /* Adjust margin spacing as needed */
}

/* Additional CSS for the square section */
.square-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #166305; /* Background color */
    color: #fff; /* Text color */
    padding: 20px; /* Add padding for spacing */
}

.square {
    background-color: #166305; /* Square background color */
    color: #fff; /* Text color */
    width: 60%; /* Adjust the width as needed */
    padding: 20px; /* Adjust padding as needed */
    text-align: center; /* Center-align the text */
    font-size: 24px;
}

.left-image {
    float: left; /* Align the image to the left */
    margin-right: 10px; /* Add some spacing to the right of the image */
}

.right-image {
    width: 50%; /* Adjust the width of the image as needed */
    height: auto;
}

/* Additional CSS for the right square */
.right-square {
    background-color: #76232f; /* Background color */
    color: #fff; /* Text color */
    width: 1500px; /* Adjust the width as needed */
    height: 510px; 
    text-align: center; /* Center-align the text */
    font-size: 18px;
}

